.catalog {
    margin-bottom: 80px;
}

.catalog__order {
    margin-bottom: 30px;
}

.catalog__title {
    margin-bottom: 16px;

    font-weight: 600;
    font-size: 28px;
    line-height: 1.2;

    color: #000000;
}

.catalog__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 145px);

    gap: 10px;
}